body {
    font-family: 'Roboto', sans-serif;
    color: #444; 
    background: #ffffff;
    padding: 20px;
}

.header {
    width: 100%;
    background: #3f51b5; 
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
    position: absolute;
    top: 0;
    padding: 5px 0;
    background: linear-gradient(to right, #3f51b5, #303f9f);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#gamename {
    color: #e91e63;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#gamename:hover {
    color: red; 
    text-decoration: underline; 
    cursor: pointer;  
}


.link-wrapper {
    display: flex;
}

.inst-title {
    font-size: 1.5em;
    color: #e91e63; 
    font-weight: bold;
    margin-top: 100px;
    text-decoration: underline;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link {
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

.header-link:hover {
    background-color: white;
    color: #3f51b5;
    text-decoration: underline;
}

.instructionscontainer {
    border: 1px solid #3f51b5;
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.instructionsheader {
    font-size: 1.2em;
    font-weight: bold;
    color: #303f9f; 
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-top: 10px;
}

.instructions {
    margin-top: 10px;
}

.instructionscontainer {
    margin-top: 20px;
}

.instructionsheader {
    margin-left: 20px;
}

.instructions {
    margin-left: 20px;
    margin-top: 10px;
}

.play-now-button-container {
    text-align: center;
    margin-top: 40px;
}

.play-now-button {
    background-color: #e3185d;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.play-now-button:hover {
    background-color: #c2185b; 
}

#skip {
    position: absolute;
    top: 0; 
    left: -999px; 
    width: 200px;
    padding: 5px; 
    background-color: #000; 
    color: #fff; 
    text-align: center; 
    z-index: 1;
}

#skip:focus {
    left: 10px; 
    top: 5px; 
}

/* Mobile View */
@media (max-width: 767px) {
    .header {
        flex-direction: column;
        height: auto;
        font-size: 16px;
    }

    .title-wrapper {
        margin-bottom: 4px;
    }

    #gamename {
        font-size: 24px;
    }

    .link-wrapper {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header-link {
        font-size: 16px;
        padding: 3px;
        margin: 1px 0;
        width: 100%;
        text-align: center;
    }

    .finalmessage, .instructionsheader, .instructions {
        font-size: 16px;
    }

    .finalmessage {
        margin-top: 130px;
    }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1023px) {
    .header {
        flex-direction: column;
        height: auto;
        font-size: 20px;
    }

    .inst-title {
        margin-top: 90px;
        font-size: 2em;
    }

    #gamename {
        font-size: 36px;
        margin-bottom: 10px;
    }

    .link-wrapper {
        justify-content: center;
        padding-right: 0;
    }

    .header-link {
        font-size: 19px;
        padding: 12px 50px;
    }

    .finalmessage, .instructionsheader, .instructions {
        font-size: 20px;
    }

    .finalmessage {
        margin-top: 130px;
    }

    .play-now-button-container {
        margin-top: 60px;
    }

    .play-now-button {
        padding: 15px 30px;
        font-size: 1.8em;
        border-radius: 8px;
    }
}

/* Desktop View */
@media (min-width: 1024px) {
    .header {
        justify-content: space-between;
        height: 118px;
        font-size: 24px;
    }

    .inst-title {
        margin-top: 120px;
        font-size: 2.5em;
    }

    .title-wrapper {
        padding-left: 15px;
    }

    #gamename {
        font-size: 48px;
    }

    .link-wrapper {
        justify-content: flex-end;
        padding-right: 40px;
    }

    .header-link {
        font-size: 24px;
        padding: 12px 18px;
    }

    .finalmessage, .instructionsheader, .instructions {
        font-size: 22px;
    }

    .play-now-button-container {
        margin-top: 80px;
    }

    .play-now-button {
        padding: 20px 40px;
        font-size: 2.5em;
        border-radius: 12px;
    }
}
